body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


h1.title {
  font-size: 1.3rem;
  margin: 1rem;
}

/* Cart contents*/

div.cart {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  margin: 1rem .5rem;
  border-radius: 12px; 
  padding: 1.3rem;
}

ul.cart-contents {
  list-style-type: none;
  padding: 0; 
  margin: 0;
}

/*Format image for cart contents */
ul.cart-contents img {
  height: auto; 
  width: 50%;
  border-radius: 15%;
}

/* Quantity counter - style button so they are inline with a gray border*/
div.quantity {
  border: 1px solid #828282;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

div.quantity button {
  margin: auto;
  padding: 0;
  width: 20%;
  height: 50%;
  display: inline-block;
  border: none;
  border-radius: 8px;
  background-color: #E0E0E0;
  color: #828282;
  font-size: 1.1rem;
}

div.quantiy p {
  margin: 0; 
  padding: 0;
  width: 10%;
  display: inline-block;
}

/* Shipping and Total sytling */
hr {
  background-color: #BDBDBD;
  width: 100%;
  height: 1px;
  border: none;
}

h4.cost {
  color: #333333;
  width: 40%;
  display: inline-block;
  margin: .3rem 0;
}

p.cost {
  color: #333333;
  width: 58%;
  display: inline-block;
  margin: .3rem 0;
  text-align: right;
}

/* Contact form */
form {
  margin: 0.5rem;
}

div.contact h4 {
  font-size: 1rem;
  color: #333333;
  margin: 2rem 1rem 0;
}

form label {
  font-size: .6rem;
  color: #828282;
  margin: 0 1rem;;
}

form div.input {
  border: 1px solid gray;
  border-radius: 8px;
  margin: .5rem 1rem;
  padding: .5rem;
  height: 1.5rem;
}

/* Size all logos in the contact form */
div.contact img.logo {
  height: 1rem;
  width: auto;
  color: #828282;
}

/* Size the input field in the form */
div input {
  width: 90%;
  border: none;
  outline: none;
  margin: 0;
}

/* Make 'save-info' checkbox and label inline */
div.save-info input[type="checkbox"] {
  width: 5%;
  margin: .5rem 0 0 1rem ;
}

div.save-info label {
  margin: 0;
}

button[type="submit"] {
  background-color: #F2994A;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  padding: .8rem 1.8rem;
  margin: 0 1.5rem 0 48%;
}

footer {
  font-size: .6rem;
  color: #828282;
  text-align: center;
  margin: 5rem 2rem 1.5rem;
}

footer a, footer a:visited {
  color: #828282;
}