body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


h1.title {
  font-size: 1.3rem;
  margin: 1rem;
}

/* Cart contents*/

div.cart {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  margin: 1rem .5rem;
  border-radius: 12px; 
  padding: 1.3rem;
}

ul.cart-contents{
  list-style-type: none;
  padding: 0; 
  margin: 0 0 .5rem;
}

ul.cart-contents li {
  margin: 0 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/*Format image for cart contents */
ul.cart-contents img {
  height: auto; 
  width: 40%;
  border-radius: 15%;
  margin: 0 1.5rem 0 0;
}

div.item-details {
  width: 45%;
  height: auto;
}


div.item-details p.item-name {
  color: #4E5150;
  font-size: .8rem;
  margin: 0 0 .5rem;
}

div.item-details p.discounted-price {
  color: #F2994A;
  /* spacing b/w original and discounted price */
  margin: 0 1rem 0rem 0;
  display: inline;
  font-size: .8rem;
}

div.item-details p.original-price {
  color: #828282;
  text-decoration: line-through;
  display: inline;
  font-size: .6rem;
  text-align: right;
}

/* Quantity counter - style button so they are inline with a gray border*/
div.quantity {
  border: 1px solid #828282;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 3rem;
  margin: 1rem 0 0 ;
  padding: 0 .5rem;
}

div.quantity button {
  margin: auto 0;
  padding: 0;
  width: 20%;
  height: 50%;
  border: none;
  border-radius: 8px;
  background-color: #E0E0E0;
  color: #828282;
  font-size: 1.1rem;
  outline: none;
}

div.quantiy p.counter {
  margin: 0; 
  padding: 0;
  width: 10%;
  height: 80%;
  display: inline;
}

/* Shipping and Total sytling */
hr {
  background-color: #BDBDBD;
  width: 100%;
  height: 1px;
  border: none;
}

h4.cost {
  color: #333333;
  width: 40%;
  display: inline-block;
  margin: .3rem 0;
  font-size: .8rem;
}

p.cost {
  color: #333333;
  width: 58%;
  display: inline-block;
  margin: .3rem 0;
  text-align: right;
  font-size: .8rem;
}

/* Contact form */
form {
  margin: 0.5rem;
}

div.contact h4 {
  font-size: .9rem;
  color: #333333;
  margin: 2rem 1rem 0;
}

form label {
  font-size: .6rem;
  color: #828282;
  margin: 0 1rem;
}

form div.input {
  border: 1px solid gray;
  border-radius: 12px;
  margin: .1rem 1rem .5rem ;
  padding: .5rem;
  height: 1.5rem;
  /* Used to center logo images in form */
  display: flex;
}

/* Size all logos in the contact form */
div.contact img.logo {
  height: 1rem;
  width: auto;
  color: #828282;
  margin: auto;
}

/* Size the input field in the form */
div input {
  width: 90%;
  border: none;
  outline: none;
  margin: 0;
}

/* Style autocomplete dropdown */
.ui-autocomplete {
  max-height: 4.8rem;
  max-width: 60%;
  overflow-y: scroll;
  border: none;
  outline: none;
  border-radius: 8px;
}


.ui-menu-item {
  font-size: .7rem;
  background: rgb(38, 36, 36);
  color: white;
}

/* Make 'save-info' checkbox and label inline */
div.save-info input[type="checkbox"] {
  width: 5%;
  margin: .5rem 0 0 1rem ;
}

div.save-info label {
  margin: 0;
}

button[type="submit"] {
  background-color: #F2994A;
  outline: none;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  padding: .8rem 1.8rem;
  margin: 0 1.5rem 0 48%;
}

div.modal {
  display: none;
}

div.modal span {
  color: darkred;
}

.ui-widget-header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.ui-dialog-content {
  font-size: .8rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: 0px;
  text-indent: 4px;
  margin-left: 18px;
  position: relative;
}

footer {
  font-size: .6rem;
  color: #828282;
  text-align: center;
  margin: 5rem 2rem 1.5rem;
}

footer a, footer a:visited {
  color: #828282;
}